<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CamlCreator.ListWSS.Lists" value="http://localhost:8000/_vti_bin/lists.asmx"/>
    <add key="CamlCreator.WebWSS.Webs" value="http://localhost:8000/_vti_bin/Webs.asmx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
